apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgbackrest-data-pvc
  labels:
    app: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
