.DS_Store
.env
*.txt
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
backend/bun.lock
backend/node_modules/
backend/package-lock.json
authorization/bun.lock
authorization/node_modules/
authorization/package-lock.json