.DS_Store
.env
.env.*
*.txt
pgadmin/servers.json
llm_service/uv.lock
llm_service/.venv/
llm_service/__pycache__/
frontend/bun.lock
frontend/package-lock.json
frontend/dist/
frontend/node_modules/
backend/bun.lock
backend/package-lock.json
backend/node_modules/
authorization/bun.lock
authorization/node_modules/
authorization/package-lock.json
k8s/config/secret.yaml
k8s/config/pgbackrest-config.yaml
k8s/config/configmap.yaml
