services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - zglosto-net

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    networks:
      - zglosto-net

  nginx:
    build:
      context: ./nginx
    ports:
      - "1235:1235"
    depends_on:
      - backend
      - frontend
    networks:
      - zglosto-net

networks:
  zglosto-net:
    driver: bridge
