apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: authorization-hpa
  namespace: zglosto
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: authorization
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Percent
        value: 10
        periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60