apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: zglosto
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
  type: ClusterIP
  sessionAffinity: None
